:root {
    --blue: #1e90ff;
    --white: #ffffff;
    --green: green;
    --black: #000;
    --red: #eb5177;
}

$primary: var(--red);
$white: var(--white);
$green: var(--green);
$text: var(--black);
