@import "../../assests/styles/variables.scss";
@import "../../assests/styles/mediaqueries.scss";
.Description {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 2rem 0;

  &__container {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4rem;
    width: 100%;
    background: #f6f6f6;
    padding: 4rem;
    box-sizing: border-box;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    width: calc(100% - 20rem);
    @include mobile{
      width: calc(100% - 4rem);
      padding: 2rem;
    }
    &__hr {
        width: 5rem;
        border: 1px solid;
      }
    &__title{
        display: flex;
        justify-content: center;
    }
    &__body{
        line-height: 2rem;
        padding: 0 4rem;
        @include mobile{
          padding: 0.5rem;
        }
    }
  }
  
}
