@import "../../assests/styles/variables.scss";
@import "../../assests/styles/mediaqueries.scss";
.Contacts {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding-top: 50px;
  &__map {
    width: 100%;
    height: 40rem;
    border: none;
    margin: 3rem 0;
    @include mobile {
      width: calc(100% - 4rem);
      height: 30rem;
    }
  }
  &__hr {
    display: flex;
    border: 1px solid;
    width: 50px;
    margin-bottom: 1rem;
  }
  &__header {
    font-weight: 600;
    font-size: 1.1rem;
    @include mobile {
      margin: 0 0 2rem 0;
    }
  }
  &__details {
    width: 100%;
    display: flex;
    justify-content: space-around;
    @include mobile {
      flex-direction: column;
      gap: 2rem;
      margin-bottom: 2rem;
    }
    &__number {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      @include mobile {
        align-items: flex-start;
        padding-left: 2rem;
      }
    }
    &__address {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      @include mobile {
        align-items: flex-start;
        padding-left: 2rem;
      }
    }
    &__hours {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      @include mobile {
        align-items: flex-start;
        padding-left: 2rem;
      }
    }
    &__title {
      display: flex;
      font-weight: 600;
      font-size: 1.2rem;
    }
    &__button {
      background-color: $primary !important;
      border: 1px solid $primary !important;
    }
  }
}
